.post {
    margin-bottom: 25px;
    padding: 18px;
    background: white;
    border-radius: 10px;
    border-left: 4px solid #4FA3FF;
    transition: 0.3s;
}


.post h3 {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    color: #1B2A49;
}

.read-link {
    display: inline-block;
    padding: 10px 18px;
    background-color: #4FA3FF; /* Sky Blue */
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 500;
    transition: 0.3s;
    margin-top: 10px;
}

.read-link:hover {
    background-color: #1B2A49; /* Deep Navy */
    color: #E8ECF1; /* Soft Gray */
}

.header-with-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-create, .btn-edit, .btn-delete {
    padding: 5px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.btn-create {
    background-color: #28a745;
}

.btn-create:hover {
    background-color: #218838;
}

.btn-edit {
    background-color: #007bff;
    margin-right: 5px;
}

.btn-edit:hover {
    background-color: #0069d9;
}

.btn-delete {
    background-color: #dc3545;
}

.btn-delete:hover {
    background-color: #c82333;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
