.footer {
    padding: 18px 20px;
    background: #1B2A49;
    color: white;
    text-align: center;
    margin-top: 40px;
    border-top: 3px solid #4FA3FF;
    font-family: "Segoe UI", sans-serif;
}
